.matrix {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: 10px auto;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid #00000073;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.selected {
  background-color: #728FCE;
}
