@import "~bootstrap/scss/bootstrap";
$bg-dark: rgb(32,32,32);
$bg-darker: rgb(17, 17, 17);
$bg-dark-1: rgb(83,83,83);
$bg-dark-1-lighter: rgb(170, 170, 170);
$color-white: #f1f1f1;

html,body{
  background-color: #{$bg-dark};
  color: #{$color-white};
}



.d-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 95%;

  .flow {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/pattern-1.png");
      background-repeat: repeat;
      background-size: 40%;
      opacity: 0.2;
      z-index: -1;
    }

  }

  .canvas-cont{
    position: relative;
    &.show{
      #annotation-box{
        display: block;
      }

      .flow{
        height:82%;
      }

    }
  }

  .inner {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #767676;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .col-resize {
    cursor: ew-resize;
    width: 2px;
    background-color: #000;
  }

  .resize {
    background-color: #000;
    cursor: ew-resize;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }


  /*----------------------------------
  -------------Accordion--------------
  ----------------------------------*/

  .accordion{
    border: none !important;
    .accordion-item{
      border-color: #{$bg-dark};
      color:  #{$color-white};

      .accordion-button{
        background-color: #{$bg-dark-1};
        border-radius: 0;
        border: 1px solid #{$bg-dark};
        color:  #{$color-white};
        outline: none;

        &:focus{
          border-color: #{$bg-dark};
          box-shadow: none;
        }

        &:after{
          background-image: url("../img/arrow-down.png");
        }
        &:not(.collapsed)::after{

        }
      }

      .accordion-body{
        background-color: #{$bg-dark};

        .description{
          margin-bottom: 1rem;
        }
      }
    }

    --#{$prefix}accordion-border-color: #{$bg-dark};
    --#{$prefix}accordion-border-width: 0;

  }

  /*----------------------------------
  ---------------Tabs-----------------
  ----------------------------------*/
  .nav-tabs{
    border-color: #{$bg-dark-1};
    .nav-link{
      border: var(--bs-nav-tabs-border-width) solid transparent;
      border-radius: 0;
      color: #{$color-white};

      &.active{
        background-color: #{$bg-dark-1};
      }
    }

    .tab-content{
      color: #{$color-white};
    }
  }

  .check-button{
    input{
      display: none;
    }

    label{
      background-color: #{$bg-dark-1};
      border:1px solid #{$bg-dark-1};
      padding: 0.5rem;
      border-radius: 4px;
      margin: 0.3rem 0;
      color:  #{$color-white};
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      width: 150px;
      text-align: center;
      cursor: pointer;
    }
    .form-check{
      padding: 0;
    }
    .form-check-input:checked + label{
      border:1px solid #{$bg-dark-1-lighter};
    }
  }

  #annotation-box{
    background-color: #{$bg-dark};
    border-radius: 5px;
   /* position: absolute;
    left:0;
    bottom:0;
    z-index: 1;*/
    display: none;
    width:100%;

    .input-group{
      height:120px;
      border: 2px solid #{$bg-dark-1};
      margin-bottom: 0.4rem;
    }

    .input-group-text{
      height: 100%;
      background-color: rgb(158, 159, 160);
      border:2px solid rgb(158, 159, 160);
      border-radius: 0;
    }

    textarea{
      height:100%;
      background-color: #{$bg-dark};
      outline: none;
      color: #{$white};
      border: none;
      &:focus{
        outline: none;
      }
    }
  }

}
.toolbar{
  text-align: left;
  background-color: #{$bg-dark};
  border-bottom: 1px solid rgb(83, 83, 83);

}
