$default-handle-color: rgb(158, 159, 160);
$dashboard-color: rgb(233, 78, 127);
$line-chart-color: rgb(22,88,108);
$bar-chart-color: rgb(8,52,108);


.empty{
  background-color: #{$default-handle-color} !important;
}

.react-flow__background {
  display: none;
}

.react-flow__attribution {
  display: none;
}

.box-node, .simple-node {
  background-color: #595959;
  width: 100px;
  height: 60px;
  border-radius: 4px;
  box-shadow: 0 0 4px #000000;


  .header {
    padding: 5px 0;
    width: 100%;
    border-radius: 4px 4px 0 0;

    .title {
      color: #ffffff;
      font-size: 12px;
      padding-left: 8px;
      margin: 0;
    }
  }
  &.dashboard{
    background-color: #{$dashboard-color};
  }
  &.bar-chart{
    background-color: #{$bar-chart-color};
  }
  &.line-chart{
    background-color: #{$line-chart-color};
  }
}

.react-flow__handle{
  width:8px;
  height:8px;
  background-color: #{$default-handle-color};
  border: 1px solid rgb(27,29,40);
}

.node-group{
  background-color: rgba(83,83,83,0.3);
  border: 1px solid rgb(83,83,83);
  color: rgba(255,255,255,0.7);
  height: 200px;
  width: 280px;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndnode {
  padding: 4px;
  border: 1px solid #1a192b;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  background-color: #595959;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 0 4px #000000;

  .dashboard{
    background-color: #{$dashboard-color};
  }
  .bar-chart{
    background-color: #{$bar-chart-color};
  }
  .line-chart{
    background-color: #{$line-chart-color};
  }
}


.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.selectall {
  margin-top: 10px;
}

.react-flow__controls-button{
  background-color: #{$default-handle-color};
}
.react-flow__controls-button{
  border: none;
}