$bg-dark: rgb(32,32,32);
$bg-dark-1: rgb(83,83,83);
$default-handle-color: rgb(158, 159, 160);
$default-node-color: #545454;
$dashboard-color: #4e91e9;
$line-chart-color: #d95f02;
$bar-chart-color: #1b9e77;
$kpi-color: #7570b3;
$filter-color: #e7298a;
$globalFilter-color: #e25757;
$column-color: #66a61e;
$color-white: #f1f1f1;

.empty{
  background-color: #{$default-handle-color} !important;
}

.react-flow__background {
  display: none;
}

.react-flow__attribution {
  display: none;
}

div[data-id*="Dashboard"]{
  &:before{
    background-color: #{$dashboard-color};
  }
  &:after{
    background-image: url("../img/icon-1.png");
  }

}
div[data-id*="Bar"]{
  &:before{
    background-color: #{$bar-chart-color};
  }
  &:after{
    background-image: url("../img/icon-4.png");
  }
  }

div[data-id*="Line"] {
  &:before{
    background-color: #{$line-chart-color};
  }
  &:after{
    background-image: url("../img/icon-2.png");
  }
}
div[data-id*="KPI"] {
  &:before{
    background-color: #{$kpi-color};
  }
  &:after{
    background-image: url("../img/icon-5.png");
  }
}
div[data-id*="Filter"] {
  &:before{
    background-color: #{$filter-color};
  }
  &:after{
    background-image: url("../img/icon-6.png");
  }
}
div[data-id*="Column"] {
  &:before{
    background-color: #{$column-color};
  }
  &:after{
    background-image: url("../img/icon-3.png");
  }
}

div[data-id*="dashboard"] {
  &:before{
    background-color: #{$dashboard-color};
  }
  &:after{
    background-image: url("../img/icon-3.png");
  }
}
div[data-id*="GlobalFilter"] {
  &:before{
    background-color: #{$globalFilter-color};
  }
}

.box-node, .simple-node {
  background-color: #595959;
  width: 80px;

  border-radius: 4px;
  box-shadow: 0 0 4px #1a1717;


  .header {
    padding: 3px 0;
    width: 100%;
    border-radius: 4px 4px 0 0;

    .title {
      color: #ffffff;
      font-size: 7px;
      text-align: center;
      margin: 0;
    }
  }
}

.react-flow__handle{
  visibility: hidden;
  width:8px;
  height:8px;
  background-color: #{$default-handle-color};
  border: 1px solid rgb(27,29,40);
}

.node-group{
  height:100%;
  padding:10px;
  .header{
    display: flex;
    align-content: start;


    .n-button{
      background-color: #{$bg-dark-1};
      width:30px;
      height:30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      margin-right: auto;

      .icon{
        width:10px;
        height:10px;
        opacity: 0.8;
      }
    }

    .dropdown-menu{
      z-index: 9999;
      background-color: #{$bg-dark-1};
      border-radius: 2px;

      .dropdown-item{
        color: #{$color-white};
        font-size: 10px;
        padding: 0.2rem 1rem;
        &:hover{
          background-color: rgba(255,255,255,0.2);
        }
      }
    }
    .dropdown-toggle::after{
      content: none;
    }
    .label{
      padding-left:0.5rem;
    }
  }
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndnode {
  // padding: 4px;
  // border: 1px solid #1a192b;
  // margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  background-color: #595959;
  width: 130px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0 0 4px #1a1717;
  font-size: small;
}


.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.selectall {
  margin-top: 10px;
}

.react-flow__controls-button{
  background-color: #{$default-handle-color};
}
.react-flow__controls-button{
  border: none;
}
.react-flow__node{
  background-color: #{$default-node-color} !important;
  &:before{
    content: '';
    position: absolute;
    top:-1px;
    left:-1px;
    width: 7px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:after{
    content: '';
    position: absolute;
    top: 8px;
    right: 4px;
    width: 13px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
}
.react-flow__node.selected .node{
  box-shadow: 0px 0px 3px 2px #bbbbbb;
}

.react-flow__node.highlight {
  background-color: rgba(199, 189, 189, 0.3);
}
.react-flow__node.z-index{
  z-index: 1100 !important;
}

.react-flow__node-default, .react-flow__node-input, .react-flow__node-output, .react-flow__node-group{
  padding: 0px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(83,83,83,0.2);
  border: 1px solid rgb(83,83,83) !important;
  color: rgba(255,255,255,0.7);
  height: 200px;
  width: 280px;
}
.react-flow__node-group{

}

.context-menu{
  background: #{$bg-dark-1};
  padding: 0.5rem;
  width: 100px;
  z-index: 99999;
  border-radius: 2px;
  .menu-item{
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    &:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }
}
#traversal {
  top: 0;
  left:0;
  position: relative;
}

.react-flow__panel.bottom {
  bottom: 60px;
}

.btn-outline-info {
  // background-color: #9e9fa0 !important;
  z-index: 99999 !important;
}
.btn-outline-info:hover {
  background-color: #d4cbcb !important;
}

.custom-file-input::file-selector-button{
  color: #fff;
  background-color: #6c757d;
  border: solid;
  border-color: #6c757d;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.upload{
  padding: 5px;
  border: 0.5px solid;
  border-color: #6c757d;
}

#recording{
  position:relative;
  margin-bottom: 5px;
}

#stopRecording{
  position: absolute;
  top: 0px; right: 0px
}



