$bg-dark: rgb(32,32,32);
$bg-dark-1: rgb(83,83,83);
$default-handle-color: rgb(158, 159, 160);
$dashboard-color: rgb(78, 145, 233);
$line-chart-color: rgb(217,95,2);
$bar-chart-color: rgb(27,158,119);
$kpi-color: rgb(117,112,179);
$filter-color: rgb(231,41,138);
$globalFilter-color: rgb(226, 87, 87);
$column-color: rgb(102,166,30);
$color-white: #f1f1f1;

.empty{
  background-color: #{$default-handle-color} !important;
}

.react-flow__background {
  display: none;
}

.react-flow__attribution {
  display: none;
}

div[class*="Dashboard"]{
  background-color: #{$dashboard-color};
}
div[class*="Bar"]{
  background-color: #{$bar-chart-color};
}
div[class*="Line"] {
  background-color: #{$line-chart-color};
}
div[class*="KPI"] {

  background-color: #{$kpi-color};
}
div[class*="Filter"] {
  background-color: #{$filter-color};
}
div[class*="Column"] {
  background-color: #{$column-color};
}
div[class*="GlobalFilter"] {
  background-color: #{$globalFilter-color};
}

.box-node, .simple-node {
  background-color: #595959;
  width: 80px;

  border-radius: 4px;
  box-shadow: 0 0 4px #1a1717;


  .header {
    padding: 3px 0;
    width: 100%;
    border-radius: 4px 4px 0 0;

    .title {
      color: #ffffff;
      font-size: 8px;
      text-align: center;
      margin: 0;
    }
  }
}

.react-flow__handle{
  width:8px;
  height:8px;
  background-color: #{$default-handle-color};
  border: 1px solid rgb(27,29,40);
}

.node-group{
  height:100%;
  padding:10px;
  .header{
    display: flex;
    align-content: left;


    .n-button{
      background-color: #{$bg-dark-1};
      width:30px;
      height:30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      margin-right: auto;

      .icon{
        width:10px;
        height:10px;
        opacity: 0.8;
      }
    }

    .dropdown-menu{
      z-index: 9999;
      background-color: #{$bg-dark-1};
      border-radius: 2px;

      .dropdown-item{
        color: #{$color-white};
        font-size: 10px;
        padding: 0.2rem 1rem;
        &:hover{
          background-color: rgba(255,255,255,0.2);
        }
      }
    }
    .dropdown-toggle::after{
      content: none;
    }
    .label{
      padding-left:0.5rem;
    }
  }
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndnode {
  padding: 4px;
  border: 1px solid #1a192b;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  background-color: #595959;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 0 4px #1a1717;
  font-size: small;
}


.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.selectall {
  margin-top: 10px;
}

.react-flow__controls-button{
  background-color: #{$default-handle-color};
}
.react-flow__controls-button{
  border: none;
}

.react-flow__node.selected .node{
  box-shadow: 0px 0px 3px 2px #bbbbbb;
}

.react-flow__node.highlight {
  background-color: rgba(199, 189, 189, 0.3);
}
.react-flow__node.z-index{
  z-index: 1100 !important;
}

.react-flow__node-default, .react-flow__node-input, .react-flow__node-output, .react-flow__node-group{
  padding: 0px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(83,83,83,0.2);
  border: 1px solid rgb(83,83,83);
  color: rgba(255,255,255,0.7);
  height: 200px;
  width: 280px;
}
.react-flow__node-group{

}

.context-menu{
  background: #{$bg-dark-1};
  padding: 0.5rem;
  width: 100px;
  z-index: 99999;
  border-radius: 2px;
  .menu-item{
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    &:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }
}